.background {
	position: absolute;
	top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(20,20,20);
}

.image1 {
	  position: absolute;
  top: 150px;
  left: 45px;
  width: 300px;
  height: 200px;
}

.image1:hover {
transform: scale(1.75);
left: 50px;
top: 70px;
}

.image2 {
	  position: absolute;
  top: 20px;
  left: 375px;
  width: 300px;
  height: 200px;
}

.image2:hover {
transform: scale(1.75);
top: 70px;
}

.image3 {
	  position: absolute;
  top: 20px;
  left: 700px;
  width: 300px;
  height: 200px;
}

.image3:hover {
transform: scale(1.75);
top: 70px;
}

.image4 {
	position: absolute;
  top: 150px;
  left: 1030px;
  width: 300px;
  height: 200px;
}

.image4:hover {
transform: scale(1.75);
top: 70px;
}

.image5 {
	position: absolute;
	top: 400px;
	left: 45px;
	width: 300px;
	height: 200px;
}

.image5:hover {
transform: scale(1.75);
top: 200px;
}

.image6 {
  position: absolute;
  top: 525px;
  left: 375px;
  width: 300px;
  height: 200px;
}

.image6:hover {
transform: scale(1.75);
top: 200px;
}

.image7 {
  position: absolute;
  top: 525px;
  left: 700px;
  width: 300px;
  height: 200px;
}

.image7:hover {
transform: scale(1.75);
top: 200px;
}

.image8 {
  position: absolute;
  top: 400px;
  left: 1030px;
  width: 300px;
  height: 200px;
}

.image8:hover {
transform: scale(1.75);
top: 200px;
}

.top {
  z-index: 0;
}
.top:hover {
  z-index: 99;
}
