.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("waterpaks.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background:hover {
   opacity: 0.8;
   filter: alpha(opacity=100);
}

.wrapper {
  position: absolute;
  top: -65px;
  left: -150px;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 1024px;
  height: 700px;
}

h1 {
  position: absolute;
  top: 150px;
  width: 100%;
  left: -400px;
  text-align: center;
  color: orange;
  font-size: 70px;
  font-family: 'Big Shoulders Text', cursive;
-webkit-text-stroke: .5px black;
  text-shadow: 2px 2px 4px #000000;
}

h2 {
  position: absolute;
  top: 320px;
  width: 100%;
  left: -482px;
  text-align: center;
  font-size: 34px;
  color: orange;
  font-family: 'Big Shoulders Text', cursive;
-webkit-text-stroke: .5px black;
text-shadow: 2px 2px 4px #000000;
}

h3 {
  position: absolute;
  top: 250px;
  width: 100%;
  left: -395px;
  font-size: 40px;
  text-align: center;
  color: orange;
  font-family: 'Big Shoulders Text', cursive;
-webkit-text-stroke: .5px black;
text-shadow: 2px 2px 4px #000000;
}

.image1 {
  position: absolute;
  top: 15px;
  left: 80px;
  width: 1050px;
  height: 750px;
}


.image2 {
  position: absolute;
  top: -25px;
  left: 80px;
  width: 1100px;
  height: 750px;
}


.image3 {
  position: absolute;
  top: 650px;
  left: -15px;
  width: 100px;
  height: 100px;
}


h4 {
    position: absolute;
  top: 360px;
  width: 100%;
  left: -515px;
  text-align: center;
  font-size: 32px;
  color: orange;
  font-family: 'Big Shoulders Text', cursive;
-webkit-text-stroke: .5px black;
text-shadow: 2px 2px 4px #000000;
}

h5 {
    position: absolute;
  top: 400px;
  width: 100%;
  left: -567px;
  text-align: center;
  font-size: 32px;
  color: orange;
  font-family: 'Big Shoulders Text', cursive;
-webkit-text-stroke: .5px black;
text-shadow: 2px 2px 4px #000000;
}

@media (max-width: 1024px){
  .image1 {
  top: 305px;
  left: 35px;
  width: 700px;
  height: 460px;
}
.image1:hover {
   opacity: 0.8;
   filter: alpha(opacity=100);
}
.image2 {
  top: 10px;
  left: 50px;
  width: 700px;
  height: 350px;
}
.image2:hover {
   opacity: 0.8;
   filter: alpha(opacity=100);
 }

.image3 {
  top: 710px;
  left: 160px;
  width: 50px;
  height: 50px;
}
.image3:hover {
   opacity: 0.8;
   filter: alpha(opacity=100);
 }
  h1{
    font-size: 50px;
    top: 90px;
    left: -80px;
    color: white;
  }
h2{
  font-size: 40px;
  top:170px;
  left:-85px;
  color: white;
}
h3{
  font-size: 30px;
  top:250px;
  left:-80px;
  color: white;
}
h4{
  font-size: 25px;
  top: 310px;
  left:-90px;
  color: white;
}
h5{
  font-size: 25px;
  top:360px;
  left:-90px;
  color: white;

